.card-container{
    display: flex;
    flex-wrap: wrap; /* Permite que os cards quebrem para a próxima linha */
    justify-content: space-around; /* Alinha os cards no centro horizontalmente */
    width: 100%;
    margin: auto;
  }

  
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.voltar{
    margin-top: 1.5rem;
    color: rgb(143, 128, 45);
    background-color: rgb(242, 225, 131);
    border-width: 1px;
    font-family: 'sans-serif';
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}
  
  .card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    width: 200px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.21);
    padding: 1rem;
  }

.card-title {
margin-top: -3px; /* Remover qualquer margem superior padrão */
align-self: flex-start; /* Alinhar o título ao topo */
font-weight: bold;
font-family: 'sans-serif';
font-size: 1.2rem;
width: 100%;
  } 

.card-content{
margin-top: 20px;
font-family: 'sans-serif';
font-size: 0.9rem;
color:#5c5b5b;
  }

.favorite-button {
background: none;
border: none;
cursor: pointer;
font-size: 1.5em;
color: gold;
}

.favorite-button.favorited {
color: darkorange;
}

.favoritos{
    color: rgb(143, 128, 45);
    background-color: rgb(242, 225, 131);
    border-width: 1px;
    font-family: 'sans-serif';
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}
